body {
    min-width: 320px;
    max-width: 1920px;
    
}
header {
    height: 70px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    padding-left: 531px;
}
.nav-link {
    padding-left: 20px;
    margin: 0px;
    list-style: none;
}
.footer {
    min-height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.room-selection {
    left: 140px;
    top: 140px;
    width: 380px;
    height: 374px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.room-finder {
    padding: 40px 30px 275px 30px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}
.footer-copyright {
    position: relative;
    top: 26px;
    left: 140px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F2041BF;
    margin: 0px;
    padding: 0px;
}