body {
    min-width: 320px;
    max-width: 1920px;
}
.flex-row {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
   }
.footer {
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.footer-copyright {
    position: relative;
    top: 26px;
    left: 140px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F2041BF;
}